name: Binance Leverage tiers update

on:
  schedule:
    - cron: "25 3 * * 4"
  # on demand
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  auto-update:
    name: "Auto Update Binance Leverage Tiers"
    runs-on: ubuntu-latest
    environment:
      name: develop
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        persist-credentials: false

    - uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
      with:
        python-version: "3.14"

    - name: Install uv
      uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b # v7.2.0
      with:
        activate-environment: true
        enable-cache: false
        python-version: "3.14"

    - name: Install ccxt
      run: uv pip install ccxt orjson

    - name: Run leverage tier update
      env:
        CI_WEB_PROXY: ${{ secrets.CI_WEB_PROXY }}
        FREQTRADE__EXCHANGE__KEY: ${{ secrets.BINANCE_EXCHANGE_KEY }}
        FREQTRADE__EXCHANGE__SECRET: ${{ secrets.BINANCE_EXCHANGE_SECRET }}
      run: python build_helpers/binance_update_lev_tiers.py


    - uses: peter-evans/create-pull-request@c0f553fe549906ede9cf27b5156039d195d2ece0 # v8.1.0
      with:
        token: ${{ secrets.REPO_SCOPED_TOKEN }}
        add-paths: freqtrade/exchange/binance_leverage_tiers.json
        labels: |
          Tech maintenance
          Dependencies
        branch: update/binance-leverage-tiers
        title: Update Binance Leverage Tiers
        commit-message: "chore: update pre-commit hooks"
        committer: Freqtrade Bot <154552126+freqtrade-bot@users.noreply.github.com>
        author: Freqtrade Bot <154552126+freqtrade-bot@users.noreply.github.com>
        body: Update binance leverage tiers.
        delete-branch: true
